version: 1.0.{build}.0

environment:
  NuGetApiKey:
    secure: uNF4gY8KN67ODxKkGPBIz+5MDdf3MRtz4Vi+9McPhWYi4Z6YMQvOcTQRWZYd/N9b

assembly_info:
  patch: true
  file: AndroidXml\Properties\AssemblyInfo.cs
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'

install:
  - choco install -y wget
  - wget https://download.microsoft.com/download/4/6/1/46116DFF-29F9-4FF8-94BF-F9BE05BE263B/packages/DotNetCore.1.0.0.RC2-SDK.Preview1-x64.exe
  - DotNetCore.1.0.0.RC2-SDK.Preview1-x64.exe /install /quiet /log dotnetinstall.log
  - ps: Push-AppveyorArtifact "dotnetinstall.log"

build_script:
  - cmd: cd AndroidXml
  - cmd: dotnet restore
  - cmd: dotnet build -c Release --version-suffix %APPVEYOR_BUILD_NUMBER%
  - cmd: dotnet pack -c Release --version-suffix %APPVEYOR_BUILD_NUMBER%
  - ps: Push-AppveyorArtifact "bin\Release\AndroidXml.1.1.0-$($env:APPVEYOR_BUILD_NUMBER).nupkg"
  - ps: Push-AppveyorArtifact "bin\Release\AndroidXml.1.1.0-$($env:APPVEYOR_BUILD_NUMBER).symbols.nupkg"

nuget:
  project_feed: true
  account_feed: true
